@import "tailwindcss";
body{
    margin: 0;
   padding: 0;
   box-sizing: border-box;  

}
/* index.css */
/* global.css or in <style> tag */
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #111;
  color: white;
}


@font-face {
  font-family: 'WhisperingSignature';
  src: url('./assets/WhisperingSignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BravenRegular';
  src: url('./assets/BravenRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.font-whisper {
  font-family: 'WhisperingSignature', cursive;
}
.font-braven {
  font-family: 'BravenRegular', sans-serif;
}